---
layout: page
---

{% include lang.html %}

<div id="archives" class="pl-xl-3">

    {% assign sorted_posts = site.posts | sort: 'order' %}

    {% for post in sorted_posts %}
    {% if post.path contains '/known-issues/' %}

    {% capture cur_year %}{{ post.date | date: "%Y" }}{% endcapture %}

    {% if cur_year != last_year %}
    {% unless forloop.first %}</ul>{% endunless %}
    <div class="year lead" style="color: transparent;">0000</div>
    <ul class="list-unstyled">
        {% assign last_year = cur_year %}
        {% endif %}

        <li>
            <span style="color: transparent;">00</span>
            <span>{{ post.order| prepend: "0" | slice: -2, 2 }} </span>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>

        {% if forloop.last %}
    </ul>{% endif %}

    {% endif %}
    {% endfor %}

</div>

<a href="https://github.com/nilshenrich/FileTreeHasher/issues?q=is%3Aissue+is%3Aopen+label%3Abug">View on GitHub</a>
